*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	list-style:none;
}

body {
	background: radial-gradient(circle, #fff, #bbb) no-repeat;
	padding: 0;
	margin: 0;
	line-height: 1.6;
	min-height: 100vh;
	background-size: cover;
	background-position: center;	
}

/* MENU */

.logo {
	width: 40px;
	height: 40px;
	transition: all 100ms;
	position: relative;
	object-fit: cover;
	margin-left: 32px;
	margin-right: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	box-shadow: none;
	border: none;
	display: none;
}

.logo:hover {
	transform: scale(1.07);
	background: linear-gradient(to bottom, #f3f3f3);
	
}

header {
	position: fixed;
	top: 0; left: 0; right: 0;
	background: #000;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
	padding: 0px 2px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}


header .navbar ul{
	list-style: none;
}

header .navbar ul li {
	position: relative;
	float: left;
}

header .navbar ul li a {
	font-size: 22px;
	padding: 12px 12px;
	color: #f3f3f3;
	display: block;
}

header .navbar ul li a:hover {
	background: #f3f3f3;
	color: #000;
}

header .navbar ul li ul {
	position: absolute;
	left: 0;
	width: 350px;
	background: #000;
	display: none;
}

header .navbar ul li ul li {
	width: 100%;
}

header .navbar ul li ul li ul {
	left: 200px;
	top: 0;
}


header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
	display: initial;
}

/* CONTENIDO PARTE UNO */

.h1-articulos1 {
	margin: 5px;
	margin-left: 20px;
	font-size: 40px;
	color: #2c3357;
}

h2 {
	margin: 5px;
	margin-left: 12px;
	border-bottom: 3px solid #000;
	padding-bottom: 25px;
}


a {
	text-decoration: none;
	font-size: 22px;
	color: #f3f3f3;
	padding: 12px 20px;
	display: block;
	font-family: 'Oswald', sans-serif;

}

.contenido-parte-uno {
	margin-top: 80px;
}

.contenido-dominio-web-gratis {
	margin-top: 80px;
}

.contenido-futbol-gratis {
	margin-top: 80px;
}

.contenido {
	display: flex;
	margin: 30px 15px;
	margin-bottom: 60px;
	transition: all 300ms;

}

.articulos {
	width: 1000%;
}

.secciones {
	display: flex;
	align-items: center;
	padding: 5px;
	border-bottom: 3px;
	background: #000;
	transition: all 300ms;
	box-shadow: 2px 4px 5px 0 #000;
}

.secciones:hover {
	transform: scale(1.01);
	background: linear-gradient(to bottom, #100F13);
	
}

img {
	width: 250px;
	height: 240px;
	border: 2px solid;
	object-fit: cover;
	box-shadow: 2px 4px 10px 0 #100F13;
	transition: all 300ms;
}

.texto1 a:hover {
	text-decoration: underline;
}



/* CONTENIDO PARTE 2 */

.nuevocontenido {
	margin-left: 15px;
	margin-right: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 35px;
	border-radius: 0.625rem;
	margin-bottom: 75px;

}



.nuevocontenido1 {
	align-items: center;
	background: black;
	padding: 25px;
	transition: all 300ms;
	box-shadow: 2px 4px 5px 0 #000;

}

.nuevocontenido1:hover {
	transform: scale(1.04);
	background: linear-gradient(to bottom, #100F13);
	
}



.nuevocontenido img {
	width: 250px;
	height: 240px;
	align-items: center;
	transition: none;
}

.nuevocontenido img:hover {
	transform: none;
	
}



.nuevocontenido h3 {
	font-size: 24px;
	margin: 1px 0;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}


.nuevocontenido p {
	color: #f3f3f3;
	font-size: 17px;
}

.nuevocontenido a {
	padding: 5px 0;
	padding-bottom: 1px;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
	text-align: center;
}

.nuevocontenido a:hover {
	text-decoration: underline;
}

/* PIE DE PAGINA */

footer {
	background-color: #000;
	line-height: 3;
	text-align: center;
	width: 100%;
}

footer p {
	color: #fff;
}



/* CELULAR */

#menu-bar {
	display: none;
}

header label {
	font-size: 28px;
	color: #f3f3f3;
	cursor: pointer;
	display: none;
	width: 40%;
}


@media(max-width:1281px) {

	/* CONTENIDO PARTE 2 */

.nuevocontenido {
	margin-left: 5px;
	margin-right: 5px;
	display: grid;
	grid-template-columns: 212px 212px 212px 212px;
	grid-gap: 10px;
	border-radius: 0.625rem;
	margin-bottom: 75px;

}

.nuevocontenido1 {
	align-items: center;
	background: black;
	padding: 25px;
	transition: all 300ms;
	box-shadow: 2px 4px 5px 0 #000;

}

.nuevocontenido1:hover {
	transform: scale(1.04);
	background: linear-gradient(to bottom, #100F13);
	
}



.nuevocontenido img {
	width: 165px;
	height: 165px;
	align-items: center;
	transition: none;
}

.nuevocontenido img:hover {
	transform: none;
	
}



.nuevocontenido h3 {
	font-size: 24px;
	margin: 1px 0;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}


.nuevocontenido p {
	color: #f3f3f3;
	font-size: 17px;
}

.nuevocontenido a {
	padding: 5px 0;
	padding-bottom: 1px;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
	text-align: center;
}

.nuevocontenido a:hover {
	text-decoration: underline;
}



	/* CONTENIDO FULBO FULBO */

	.contenido-futbol-gratis {
	margin-top: 150px;
	}

	.logo {
	width: 70px;
	height: 70px;
	transition: all 100ms;
	position: relative;
	object-fit: cover;
	margin-left: 32px;
	margin-right: 2px;
	box-shadow: none;
	border: none;  }

	header {
		padding: 9px;
	}

	header label {
		display: initial;
		width: 10%;

	}

	header .navbar {
		position: absolute;
		top: 100%; left: 0; right: 0;
		background: #000;
		border-top: 1px solid rgba(0, 0, 0, .1);
		display: none;
	}

	header .navbar ul li {
		width: 100%;
	}

	header .navbar ul li a {
		font-size: 28px;
	}


	header .navbar ul li ul {
		position: relative;
		display: none;
	}

	header .navbar ul li ul li {
		background: #f3f3f3;
		display: none;
	}

	header .navbar ul li ul li ul {
		width: 100%;
		left: 0;
	}

	#menu-bar:checked ~ .navbar {
	    display: initial;
	}

		footer {
		width: 100%;
		font-size: 25px;
	}

	.contenido-parte-uno {
	margin-top: 150px;
	}

	.contenido-dominio-web-gratis {
	margin-top: 150px;
}

}

@media(max-width:767px) {

	.logo {
	width: 70px;
	height: 70px;
	transition: all 100ms;
	position: relative;
	object-fit: cover;
	margin-left: 32px;
	margin-right: 2px;
	box-shadow: none;
	border: none;  }

	header {
		padding: 9px;
	}

	header label {
		display: initial;
		width: 40%;
	}

	header .navbar {
		position: absolute;
		top: 100%; left: 0; right: 0;
		background: #000;
		border-top: 1px solid rgba(0, 0, 0, .1);
		display: none;
	}

	header .navbar ul li {
		width: 100%;
	}

	header .navbar ul li a {
		font-size: 28px;
	}


	header .navbar ul li ul {
		position: relative;
		display: none;
	}

	header .navbar ul li ul li {
		background: #f3f3f3;
		display: none;
	}

	header .navbar ul li ul li ul {
		width: 100%;
		left: 0;
	}

	#menu-bar:checked ~ .navbar {
	    display: initial;
	}

		footer {
		width: 100%;
		font-size: 25px;
	}


/* CONTENIDO PARTE 2 */

.nuevocontenido {
	margin-left: 10px;
	margin-right: 15px;
	display: block;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 35px;
	border-radius: 0.625rem;
	margin-bottom: none;

}



.nuevocontenido1 {
	align-items: center;
	background: black;
	padding: 25px;
	margin: 30px 0;
	transition: all 300ms;
	box-shadow: 2px 4px 5px 0 #000;

}

.nuevocontenido1:hover {
	transform: scale(1.04);
	background: linear-gradient(to bottom, #100F13);
	
}



.nuevocontenido img {
	width: 100%;
	height: 100%;
	align-items: center;
	transition: none;
	margin-left: 15px;
}

.nuevocontenido img:hover {
	transform: none;
	
}

.nuevocontenido h3 {
	font-size: 34px;
	margin: 1px 0;
	margin-left: 10px;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}

.nuevocontenido p {	
	font-size: 24px;
	margin: 1px 0;
	color: #f3f3f3;
	display: inline-block;
	font-weight: bold; }

.nuevocontenido a {
	padding: 5px 0;
	padding-bottom: 1px;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
	text-align: center;
}

.nuevocontenido a:hover {
	text-decoration: underline;
}

/* DOMINIO WEB GRATIS */

.contenido-dominio-web-gratis {
	padding: 5px;
	margin-top: 100px;
	padding-bottom: 1px;
	margin-left: 27px;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;
	text-align: center; 
	width: 92%;
}



/* CONTENIDO FULBO FULBO */

	.contenido-futbol-gratis {
	padding: 5px;
	margin-top: 100px;
	padding-bottom: 1px;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;
	text-align: center; 
	}


	/* CONTENIDO PARTE UNO */

	.contenido-parte-uno {
	padding: 5px;
	margin-top: 100px;
	padding-bottom: 1px;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;
	text-align: center; 
	}

	a {
	font-size: 20px;
	text-align: left;
	padding: 1px 15px;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;}

	a h1 {
	font-size: 33px;
	text-align: left;
	padding: 1px 2px;
	color: #f3f3f3;
	text-transform: uppercase;
	display: inline-block;}

	p {
		display: none;
	}

	.contenido {
	margin: 35px 2.5%;
	transition: all 300ms;
	width: 94%;
	  }

	.secciones {
	display: inline-block;
	align-items: center;
	padding: 5px;
	border-bottom: 3px;
	background: #000;
	transition: all 300ms;
	box-shadow: 2px 4px 5px 0 #000;
  }


	.secciones:hover {
	transform: scale(1.01);
	background: linear-gradient(to bottom, #100F13); }


	img {
	width: 100%;
	height: 100%;
	margin: 5px 1.5%;
	align-items: center;
	transition: none;  }
	}

	.h1-articulos1 {
		margin-top: 100px;
	}



	.texto1 a:hover {
	text-decoration: underline;  }

		/* PIE DE PAGINA */


}  


