*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
	text-decoration: none;
	list-style:none;
  background: #f3f3f3;
}


/* MENU */

header {
   display: flex;
   align-items: center;
   justify-content: space-around;
   background: #F4F4EF;
   text-align: center;
   position: fixed;
   width: 100%;
   z-index: 1000;

}

.nav {
   display: flex;
   background: #F4F4EF;
   padding-left: 0;

}

.iconos {
   display: flex;
   background: #F4F4EF;
   padding: 0;
}

.icon {
  padding: 5px;
}

li {
  background: #F4F4EF;
  padding: 18px 20px;
  text-transform: uppercase;
}


a {
  background: #F4F4EF;
  color: #000; 
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 100;
}

i {
  background: #F4F4EF;
}

h1 {
  background: #F4F4EF;
  font-size: 25px;
}





/* PARTE UNO */

.contenedor {
  background: #F7A134;
  width: 100%;
  height: 625px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 250px;
  padding-top: 350px;

}


/* PARTE UNO TEXTO */

.contenedor-texto {
  display: block;
  text-align: left;
  margin: 0;
  margin-right: 130px;
  margin-top: 40px;
  background: #F7A134;

}
  
.main-h1 {
  font-size: 75px;
  color: black;
  background: #F7A134;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.main-h2 {
  font-size: 27px;
  color: black;
  background: #F7A134;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.main-h3 {
  font-size: 18px;
  font-weight: 200;
  color: black;
  background: #F7A134;
  font-family: 'Poppins', sans-serif;
}

/* BOTON CONTACTO */

.main-p {
  color: black;
  background: #F7A134;
  display: inline;
  margin-left: 20px;

}

.main-a {
  font-size: 15px;
  color: black;
  background: #F7A134;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-decoration: none;


}

.main-a:hover {
  text-decoration: underline;
}

/* PARTE UNO BOTON */


.a-boton {
   color: #f3f3f3;
  background: #000;
  text-align: center;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.boton {
  color: #f3f3f3;
  background: #000;
  text-align: center;
  padding: 8px 30px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
}

/* PARTE UNO IMAGEN */

.contenedor-imagen {
  background: #F7A134 ;
}

img {
  width: 340px;
  height: 340px;
  border-radius: 125rem;
	border: 0.7rem solid #fff;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}




/* PARTE DOS */

.contenedor-dos {
  background: #f3f3f3;
  width: 100%;
  height: 500px;
  text-align: left;
  padding: 70px 250px;
}

.dos-h1 {
  text-align: center;
}

.container-dos {
  display: flex;
}

.contenedor-dos-texto {
  padding-right: 250px;

}

.contenedor-dos-foto {
  text-align: center;
  background: red;
  width: 60px;
  height: 60px;
}

    /* CONTENEDOR PREGUNTAS-RESPUESTAS */

.contenedor-preguntas {
  display: inline-flex;
  text-align: left;
  padding-top: 40px;
}
  
.container-preguntas {
   padding-right: 65px;
}

.container-preguntas2 {
   padding-right: 65px;
}

.container-preguntas3 {
   padding-right: 65px;
}

.container-preguntas4 {
   padding-right: 65px;
}

.p-pregunta {
  display: inline-flex;
}
